/* navigation */

nav {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    outline: 1px solid purple;
}

.logo {
    padding: 1%;
    float: left;
    outline: 1px solid gray;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-self: center;
    width: auto;
    outline: 1px solid black;

}

nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 80px; 
    margin: 1%;
    outline: 1px solid red;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
}

.greeting {
    text-align: center;
    width: auto;
    margin: auto;
    outline: 1px solid orange;
}

/* hero */

.heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 600px;
    background-color:rgba(247, 243, 240, 0.6);
    padding: 1%;
    outline: 1px solid green;
    margin: auto;
}

.content {
   width: 700px;
   height: 50%;
   margin: 0 auto;
   padding: 25px;
   text-align: center;
   outline: 1px solid blue;
}

.heroText {
    text-align: left;
    outline: 1px solid pink;
    padding: 1%;

}

.content img {
    border-radius:50%;
    float: right;
    padding: 25px;
}

.mainButtons {
    display: flex;
    border-radius: 50%;
    margin: 1px;
    justify-content: space-between;
}


/* works - CSS Grid*/

.workGrid {
    display: grid;
}


/* about - CSS Flex */

.aboutMe {
    display: flex;
    background-color:rgba(247, 243, 240, 0.6);
    padding: 1%;
}

.aboutMe img {
    border-radius: 50%;
}

/* skills - CSS Flex */

.mySkills {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1%;
    padding: 1%;

}

.flexContainer div {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: auto;
    padding: 1%;
    align-items: center;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flexContainer p {
    width: auto;
    text-align: center;
}

/* contact */

/* footer */

.footer {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #63636371;
}

.footer li {
    text-align: center;
    width: 100%;
    color: black;
    text-decoration: none;
}

/* text */

li {
    font-weight: bold;
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
}

h1 {
    font-family: 'AWConqueror Std Didot';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: 'Aktiv Grotesk Ex';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    text-align: justify;    
    text-decoration: none;
}

/* style */ 

body {
    background-color: #DDD7CB;
}

